site_name: Hotel Management System API
site_description: Документация API системы управления гостиницей
site_author: Кирилл Галилей

theme:
  name: material
  language: ru
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top

nav:
  - Главная: index.md
  - LR3: api/endpoints.md
  - LR4: frontend/frontend.md

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - admonition
  - codehilite
  - tables
